.CodeMirror {
	width: 100%;
	min-height: 500px;
	border: 1px solid #DDDDDD;
}

.log-controls {
	padding: 9px 14px;
	background: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}

.clear-log {
	width: 100%;
}